<div class="start-page">
  <div class="start-page__container">
    <div class="start-page__header">
      <h1>Lorem, ipsum dolor.</h1>
    </div>
    <div class="start-page__content">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur voluptate id vel dicta? Iusto deleniti maiores nesciunt dolore reiciendis placeat consequatur doloremque hic architecto accusantium alias culpa, voluptate error illum!
      </p>
    </div>
  </div>
  <div class="start-page__container">
    <div class="start-page__header">
      <h2>Lorem, ipsum dolor.</h2>
    </div>
    <div class="start-page__content">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos autem exercitationem iusto nostrum iste impedit possimus libero soluta aperiam beatae quis molestiae necessitatibus reprehenderit distinctio excepturi, porro reiciendis ab recusandae fuga pariatur commodi harum. Facere, sunt voluptatem accusamus dolorem debitis accusantium reprehenderit, officia in corrupti eos libero rem qui quisquam fuga fugiat eum hic illo, ipsum quis delectus minima repudiandae ex. Necessitatibus repellendus odit, reprehenderit eius, fugiat, laborum voluptate debitis impedit ut quis quam obcaecati nisi. Quam odio, repudiandae facere id esse ab veritatis exercitationem assumenda aperiam laborum, neque nulla atque reprehenderit illum repellendus dicta sit magnam quidem, tempore totam!
      </p>
    </div>
  </div>
  <div class="start-page__container">
    <div class="start-page__header">
      <h3>Lorem, ipsum dolor.</h3>
    </div>
    <div class="start-page__content">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos autem exercitationem iusto nostrum iste impedit possimus libero soluta aperiam beatae quis molestiae necessitatibus reprehenderit distinctio excepturi, porro reiciendis ab recusandae fuga pariatur commodi harum. Facere, sunt voluptatem accusamus dolorem debitis accusantium reprehenderit, officia in corrupti eos libero rem qui quisquam fuga fugiat eum hic illo, ipsum quis delectus minima repudiandae ex. Necessitatibus repellendus odit, reprehenderit eius, fugiat, laborum voluptate debitis impedit ut quis quam obcaecati nisi. Quam odio, repudiandae facere id esse ab veritatis exercitationem assumenda aperiam laborum, neque nulla atque reprehenderit illum repellendus dicta sit magnam quidem, tempore totam!
      </p>
    </div>
  </div>
</div>
