<div class="auth-form">
  <div class="auth-form__header">
    <p>{{ formHeader }}</p>
  </div>

  <form
    class="auth-form__form"
    [formGroup]="form"
    (ngSubmit)="registration()"
  >

  <ng-container formGroupName='user'>

      <div class="auth-form__control">
        <div
          class="control"
          [ngClass]="{'control_error': firstName.touched && firstName.invalid}"
        >
          <input
            id="firstName"
            type="text"
            class="control__input"
            autocomplete="off"
            formControlName="firstName"
          >
          <label for="firstName" class="control__label">Имя</label>
          <div
            class="control__error-text"
            *ngIf="firstName.touched && firstName.errors && firstName.errors.required"
          >
            поле не должно быть пустым
          </div>
        </div
        >
      </div>

      <div class="auth-form__control">
        <div
          class="control"
          [ngClass]="{'control_error': lastName.touched && lastName.invalid}"
        >
          <input
            id="lastName"
            type="text"
            class="control__input"
            autocomplete="off"
            formControlName="lastName"
          >
          <label for="lastName" class="control__label">Фамилия</label>
          <div
            class="control__error-text"
            *ngIf="lastName.touched && lastName.errors && lastName.errors.required"
          >
            поле не должно быть пустым
          </div>
        </div>
      </div>

      <div class="auth-form__control">
        <div
          class="control"
          [ngClass]="{'control_error': email.touched && email.invalid}"
        >
          <input
            id="registration-email"
            type="email"
            class="control__input"
            autocomplete="off"
            formControlName="email"
          >
          <label for="registration-email" class="control__label">E-mail</label>
          <div
            class="control__error-text"
            *ngIf="email.touched && email.errors && email.errors.required"
          >
            поле не должно быть пустым
          </div>
          <div
            class="control__error-text"
            *ngIf="email.touched && email.errors && email.errors.email"
          >
            поле должно содержать e-mail
          </div>
          <div
            class="control__error-text"
            *ngIf="email.touched && email.errors && email.errors.existingEmail"
          >
            такой e-mail уже существует
          </div>
        </div>
      </div>

      <div class="auth-form__control">
        <div
          class="control"
          [ngClass]="{'control_error': password.touched && password.invalid}"
        >
          <input
            id="registration-password"
            mutatedPasswordInput
            class="control__input"
            type="password"
            autocomplete="off"
            formControlName="password"
          >
          <label for="registration-password" class="control__label">Пароль</label>
          <div
            class="control__error-text"
            *ngIf="password.touched && password.errors && password.errors.required"
          >
            поле не должно быть пустым
          </div>
          <div
            class="control__error-text"
            *ngIf="password.touched && password.errors && password.errors.minlength"
          >
            Пароль не должен быть менее {{ password.errors.minlength.requiredLength }} символов, сейчас {{ password.errors.minlength.actualLength }}
          </div>
          <div
            class="control__error-text"
            *ngIf="password.touched && password.errors && password.errors.maxlength"
          >
            Пароль не должен быть более {{ password.errors.maxlength.requiredLength }} символов, сейчас {{ password.errors.maxlength.actualLength }}
          </div>
        </div>
      </div>

    </ng-container>

    <div class="auth-form__control">
      <div
          class="control"
          [ngClass]="{'control_error': (replayPassword.touched && replayPassword.invalid) || (replayPassword.touched && form.errors && form.errors.passwordMatch) }"
        >
        <input
          id="confirm-password"
          mutatedPasswordInput
          class="control__input"
          type="password"
          autocomplete="off"
          formControlName="replayPassword"
        >
        <label for="confirm-password" class="control__label">Повторите пароль</label>
        <div
          class="control__error-text"
          *ngIf="replayPassword.touched && replayPassword.errors && replayPassword.errors.required"
        >
          поле не должно быть пустым
        </div>
        <div
          class="control__error-text"
          *ngIf="replayPassword.touched && replayPassword.errors && replayPassword.errors.minlength"
        >
          пароль не должен быть менее {{ replayPassword.errors.minlength.requiredLength }} символов, сейчас {{ replayPassword.errors.minlength.actualLength }}
        </div>
        <div
          class="control__error-text"
          *ngIf="replayPassword.touched && replayPassword.errors && replayPassword.errors.maxlength"
        >
          пароль не должен быть более {{ replayPassword.errors.maxlength.requiredLength }} символов, сейчас {{ replayPassword.errors.maxlength.actualLength }}
        </div>
        <div
          class="control__error-text"
          *ngIf="replayPassword.touched && form.errors && form.errors.passwordMatch"
        >
          пароли должны совпадать
        </div>
      </div>
    </div>

    <div class="auth-form__buttons">
      <button
        type="submit"
        class="button button_submit button_block"
        [disabled]="form.invalid"
      >
        <span *ngIf="!loading">Зарегистрироваться</span>
        <loader *ngIf="loading"></loader>
      </button>
    </div>

  </form>

  <div class="auth-form__footer">
    Уже есть аккаунт? <a [routerLink]="['/auth', 'login']" class="auth-form__link">Войдите!</a>
  </div>
</div>
