@import 'variables';
@import 'mixins';

.main-header {
  background-color: $bg-color-primary;
  height: 70px;
  line-height: 40px;
  position: relative;
  display: flex;

  @include max-width($bp-mobile-l) {
    height: 60px;
  }

  &__item {
    padding: 15px 0;

    @include max-width($bp-mobile-l) {
      padding: 10px 0;
    }
  }

  &__logo {
    flex: 1 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  &__btn {
    flex: 0 0 70px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $fill-transition;
    overflow: hidden;
    outline: none;

    &:hover,
    &:focus {
      background-color: $bg-color-light;
    }

    @include max-width($bp-mobile-l) {
      flex: 0 0 50px;
    }
  }

  &__btn_active {
    & path {
      transition: $fill-transition;
      fill: $bg-color-accent;
    }
  }

  &__btn-img {
    display: block;
    height: 25px;
    width: 25px;
    outline: none;
  }
}
