@import '~src/scss/variables';
@import '~src/scss/mixins';

.tasks-header {
  padding: 15px 25px 0;

  &__form {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  @include max-width($bp-mobile-l) {
    padding: 10px 10px 0;
  }

  &__add-button {
    margin-left: 10px;
  }

  &__text {
    font-size: 1.2em;
    font-weight: 300;
    color: $text-color-accent;
    align-self: center;
  }

  &__actions {
    margin-top: 10px;
  }
}

.header-actions {
  overflow: hidden;

  &__open-button {
    padding: 5px 0;
    text-align: center;
    border-top: 1px solid $border-color-simple;
    cursor: pointer;

    i {
      display: inline-block;
      width: 15px;
      @include simple-transition(transform);
    }

    &_open i {
      transform: rotate(180deg);
    }
  }
}
