@import 'variables';
@import 'mixins';

.tasks-header {
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;

  @include max-width($bp-mobile-l) {
    padding: 10px;
  }

  &__add-button {
    margin-left: 10px;
  }

  &__text {
    font-size: 1.2em;
    font-weight: 300;
    color: $text-color-accent;
    align-self: center;
  }
}
