<div class="notes-list" [@.disabled]="disableAnimation">

    <ng-container *ngIf="!isLoading && hasContent">
      <div
        class="notes-list__item"
        *ngFor="let item of items$ | async"
        @itemAnimation
        (@itemAnimation.done)="captureAnimationEvent()"
      >
        <note
          [note]="item"
          (delete)="onDelete($event)"
          (update)="onUpdate($event)"
        ></note>
      </div>
    </ng-container>

    <div class="notes-list__message" *ngIf="!isLoading && !hasContent">
      еще нет ни одной заметки
    </div>

    <div class="notes-list__loader" *ngIf="isLoading && !hasContent">
      <loader></loader>
    </div>

</div>
