@import 'variables';
@import 'mixins';

.aside {
  background-color: $bg-color-primary;
  border-right: 1px solid $border-color-simple;
  border-top: 2px solid $bg-color-dark;
  height: 100%;
  overflow: hidden;
  width: 250px;
  @include simple-transition(width);

  @include max-width($bp-mobile-l) {
    width: 60px;
    margin-left: -10px;
  }

  &__user {
    padding: 15px 0;
  }

  &__navigation {
    display: block;
  }

  &_hide {
    width: 70px;

    @include max-width($bp-mobile-l) {
      width: 0;
    }
  }
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__avatar {
    display: block;
    width: 50px;
    height: 50px;
    border: 3px solid $border-color-simple;
    border-radius: 50%;
    margin-bottom: 5px;
    background: url('/assets/images/user.svg') no-repeat;
    background-size: cover;
    cursor: pointer;
    @include simple-transition;

    @include max-width($bp-mobile-l) {
      width: 30px;
      height: 30px;
      margin-right: -10px;
    }
  }

  &__avatar-image {
    width: 100%;
    height: auto;
  }

  &__info {
    color: $text-color-primary;
    opacity: 0.7;
    overflow: hidden;

    @include max-width($bp-mobile-l) {
      display: none;
    }
  }

  &__info_name {
    text-transform: capitalize;
  }

  &__info_email {
    font-size: 0.7em;
  }

  &__buttons {
    overflow: hidden;
    align-self: stretch;
    margin-top: 5px;
    display: flex;
    justify-content: space-around;

    @include max-width($bp-mobile-l) {
      display: none;
    }
  }

  &__button {
    cursor: pointer;
    opacity: 0.8;
    font-size: 0.8;
    border-bottom: 1px dotted transparent;
    text-decoration: none;
    color: $text-color-primary;
    @include simple-transition(opacity);

    &:focus,
    &:active {
      color: $text-color-primary;
    }

    &:hover {
      opacity: 1;
      display: inline-block;
      border-bottom: 1px dotted $text-color-primary;
    }
  }
}

.aside_hide .user__info,
.aside_hide .user__buttons {
  display: none;
}

.aside_hide .user__avatar {
  height: 30px;
  width: 30px;
  margin: 0;
}

.navigation {
  &__item {
    display: block;
    height: 40px;
    line-height: 39px;
    border-bottom: 1px solid $border-color-simple;
    padding-left: 70px;
    position: relative;

    &:hover {
      background-color: $bg-color-light;
    }

    &_active {
      background-color: $bg-color-light;
      color: $text-color-accent;
    }
  }

  &__icon {
    display: block;
    height: 40px;
    width: 34px;
    position: absolute;
    left: 35px;
    transform: translateX(-50%);
    top: 0;
    padding: 5px;
    text-align: center;
  }

  &__link {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    padding-right: 10px;
    width: 100%;
  }
}
