<div class="user-form">

  <div class="user-form__row">

    <user-name-change [user]="user" (changeUserName)="onChangeUser($event)"></user-name-change>

  </div>

  <div class="user-form__row">

    <user-email-change [user]="user" (changeUserEmail)="onChangeUser($event)"></user-email-change>

  </div>

  <div class="user-form__row">

    <user-password-change [user]="user" (changeUserPassword)="onChangeUserPassword($event)"></user-password-change>

  </div>

  <div class="user-form__row">

    <user-image-change [user]="user" (changeUserImage)="onChangeUser($event)"></user-image-change>

  </div>

</div>