<div class="user-form__text-row">
  <div class="user-form__text-label">e-mail:</div>
  <div class="user-form__text">{{ user?.email }}</div>
  <div class="user-form__add-button" (click)="showControl($event, emailTemplate)">изменить</div>
</div>

<ng-container #emailContainer></ng-container>

<ng-template #emailTemplate>

  <form>

    <div
      class="user-form__control"
      [ngClass]="{'user-form__control_error': email.touched && email.invalid}"
    >
      <label
        for="userOldEmail"
        class="user-form__label"
      >
        Новый email:
      </label>
      <input
        class="user-form__input"
        id="userNewEmail"
        type="text"
        [formControl]="email"
        autocomplete="off"
      >
    </div>

    <!-- errors -->
    <div
      class="user-form__error"
      *ngIf="email.invalid && email.touched && email.errors.required"
    >
      поле не должно быть пустым
    </div>
    
    <div
      class="user-form__error"
      *ngIf="email.invalid && email.touched && email.errors.email"
    >
      поле должно содержать e-mail
    </div>

    <div
      class="user-form__error"
      *ngIf="email.invalid && email.touched && email.errors.match"
    >
      e-mail не должен совпадать
    </div>
    <!-- end of errors -->

    <div class="user-form__button">
      <ui-button
        [classList]="'button_submit'"
        [buttonType]="'submit'"
        [isDisabled]="modified && email.invalid"
        (click)="onSubmit()"
        (keypress.enter)="onSubmit()"
      >
        Cохранить изменения
      </ui-button>
    </div>

  </form>

</ng-template>
