@import 'mixins';
@import 'variables';
@import 'fonts';
@import '~ngx-smart-modal/ngx-smart-modal';
@import 'parts/toastr';
@import 'parts/auth-modal';

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  min-height: 100%;
}

body {
  font-family: $simple-font-family;
  color: $text-color-primary;
  font-size: 17px;
  font-weight: 200;
  line-height: 1.5em;
  letter-spacing: 0.4px;
}

@for $i from 1 to 5 {
  h#{$i} {
    font-family: $simple-font-family;
    font-weight: 700;
    line-height: initial;
    font-size: 2.5em - (($i - 1) * 0.5);
    margin: 0.5em 0 0.3em;
  }
}

p {
  margin: 0.5em 0;
}
