@mixin font-face($font-family, $path, $font-weight, $font-style: normal) {
  @font-face {
    font-family: '#{$font-family}';
    font-style: $font-style;
    font-weight: $font-weight;
    src: url('#{$path}');
  }
}
