@mixin font-face($font-family, $path, $font-weight, $font-style: normal) {
  @font-face {
    font-family: '#{$font-family}';
    font-style: $font-style;
    font-weight: $font-weight;
    src: url('#{$path}');
  }
}

@mixin simple-transition($var: all) {
  transition: $var 150ms ease-in-out 30ms;
}

@mixin max-width($width) {
  @media screen and (max-width: #{$width}) {
    @content;
  }
}

@mixin min-width($width) {
  @media screen and (min-width: #{$width}) {
    @content;
  }
}

@mixin webkit-scrollbar {
  overflow: auto;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $bg-color-light;
    border-radius: 2px;
  }
}
