<div class="user-form__text-row">
  <div class="user-form__text-label">Изображение:</div>
  <div class="user-form__add-button" (click)="showControl($event, imageTemplate)">изменить</div>
</div>

<ng-container #imageContainer></ng-container>

<ng-template #imageTemplate>

  <form class="image-form">

    <div class="user-form__control image-form__control">
      <label
        for="userImage"
        class="user-form__label"
      >
        Изображение:
      </label>
      <input
        class="image-form__input"
        id="userImage"
        type="file"
        autocomplete="off"
        (change)="onFileChange()"
        #fileInput
      >
      <div class="image-form__image-wrapper">
        <div class="image-form__image-info">
          загрузите изображение в формате png, jpeg, gif не более 2Mb
        </div>
        <div
          class="image-form__image"
          (click)="triggerInputClick()"
          [ngStyle]="{ 'background-image': 'url(' + imageUrl + ')' }"
        ></div>
        <div class="image-form__image-button" (click)="triggerInputClick()">
          Добавить изображение
        </div>
      </div>
    </div>

    <div class="user-form__button">
      <ui-button
        [classList]="'button_submit'"
        [buttonType]="'submit'"
        (click)="onSubmit()"
        (keypress.enter)="onSubmit()"
      >
        Cохранить изменения
      </ui-button>
    </div>

  </form>

</ng-template>

