<div class="task-form">

  <!-- заголовок при добавлении задачи -->
  <div class="task-form__header" *ngIf="taskForUpdate">
    Редактирование задачи
  </div>

  <!-- заголовок при редактировании задачи -->
  <div class="task-form__header" *ngIf="!taskForUpdate">
    Добавление задачи
  </div>

  <form class="task-form__form form" [formGroup]="form">

    <div class="form__control">
      <label class="form__label" for="task-title">Заголовок</label>
      <textarea
        class="form__input form__input_textarea"
        type="text"
        name="title"
        id="task-title"
        formControlName="title"
        [ngClass]="{'form__input_error': taskTitle.invalid && taskTitle.touched}"
        rows="2"
      >

      </textarea>
      <div
        class="form__error-message"
        *ngIf="taskTitle.invalid && taskTitle.touched"
      >
        Поле должно быть заполненно
      </div>
    </div>

    <div class="form__control" formGroupName="optionsChecks">
      <div class="form__option">
        <input
          type="checkbox"
          name=""
          id="task-desc-checkbox"
          class="form__checkbox"
          formControlName="description"
        >
        <label for="task-desc-checkbox" class="form__checkbox-label">Добавить описание</label>
      </div>
    </div>

    <ng-container formGroupName="options">

      <div
        class="form__control form__control_dynamic"
        *ngIf="optionsChecks.controls.description.value"
        @controlAnimation
      >
        <label class="form__label" for="task-desc">Описание</label>
        <textarea
          class="form__input form__input_textarea"
          name="description"
          id="task-desc"
          rows="4"
          formControlName="description"
          [ngClass]="{'form__input_error': options.controls.description.invalid && options.controls.description.touched}"
        ></textarea>
        <div
          class="form__error-message"
          *ngIf="options.controls.description.invalid && options.controls.description.touched"
        >
          Поле должно быть заполненно
        </div>
      </div>

    </ng-container>

    <div class="form__buttons">
      <ui-button
        [classList]="['button_submit', 'button_block']"
        [isDisabled]="form.invalid"
        (click)="createTask()"
        (keyress.enter)="createTask()"
        *ngIf="!taskForUpdate"
      >
        <loader *ngIf="isLoading"></loader>
        {{ !isLoading ? 'Добавить задачу' : '' }}
      </ui-button>

      <ui-button
        [classList]="['button_submit', 'button_block']"
        [isDisabled]="form.invalid"
        (click)="updateTask()"
        (keyress.enter)="updateTask()"
        *ngIf="taskForUpdate"
      >
        <loader *ngIf="isLoading"></loader>
        {{ !isLoading ? 'Редактировать задачу' : '' }}
      </ui-button>

      <ui-button
        [classList]="'button_block'"
        (click)="closeModal()"
      >
        Отмена
      </ui-button>
    </div>

  </form>
</div>
