<div class="user-form__text-row">
  <div class="user-form__text-label">Пароль:</div>
  <div class="user-form__add-button" (click)="showControl($event, passwordTemplate)">изменить</div>
</div>

<ng-container #passwordContainer></ng-container>

<ng-template #passwordTemplate>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div
      class="user-form__control"
      [ngClass]="{'user-form__control_error': oldPassword.invalid && oldPassword.touched}"
    >
      <label
        for="userOldPassword"
        class="user-form__label"
      >
        Старый пароль:
      </label>
      <input
        class="user-form__input"
        id="userOldPassword"
        type="password"
        formControlName="oldPassword"
        autocomplete="off"
      >
    </div>

    <!-- errors -->
    <div
      class="user-form__error"
      *ngIf="oldPassword.invalid && oldPassword.touched && oldPassword.errors.required"
    >
      поле не должно быть пустым
    </div>

    <div
      class="user-form__error"
      *ngIf="oldPassword.invalid && oldPassword.touched && oldPassword.errors.existingPassword"
    >
      неверный пароль
    </div>

    <div
      class="user-form__error"
      *ngIf="oldPassword.invalid && oldPassword.touched && oldPassword.errors.minlength"
    >
      пароль не должен быть менее {{ oldPassword.errors.minlength.requiredLength }} символов, сейчас {{ oldPassword.errors.minlength.actualLength }}
    </div>

    <div
      class="user-form__error"
      *ngIf="oldPassword.invalid && oldPassword.touched && oldPassword.errors.maxlength"
    >
      пароль не должен быть более {{ oldPassword.errors.maxlength.requiredLength }} символов, сейчас {{ oldPassword.errors.maxlength.actualLength }}
    </div>
    <!-- end of errors -->

    <div
      class="user-form__control"
      [ngClass]="{'user-form__control_error': newPassword.invalid && newPassword.touched}"
    >
      <label
        for="userNewPassword"
        class="user-form__label"
      >
        Новый пароль:
      </label>
      <input
        class="user-form__input"
        id="userNewPassword"
        type="password"
        formControlName="newPassword"
        autocomplete="off"
        mutatedPasswordInput
      >
    </div>

    <!-- errors -->
    <div
      class="user-form__error"
      *ngIf="newPassword.invalid && newPassword.touched && newPassword.errors.required"
    >
      поле не должно быть пустым
    </div>

    <div
      class="user-form__error"
      *ngIf="newPassword.invalid && newPassword.touched && oldPassword.errors.match"
    >
      пароли не должны совпадать
    </div>

    <div
      class="user-form__error"
      *ngIf="newPassword.invalid && newPassword.touched && newPassword.errors.minlength"
    >
      пароль не должен быть менее {{ newPassword.errors.minlength.requiredLength }} символов, сейчас {{ newPassword.errors.minlength.actualLength }}
    </div>

    <div
      class="user-form__error"
      *ngIf="newPassword.invalid && newPassword.touched && newPassword.errors.maxlength"
    >
      пароль не должен быть более {{ newPassword.errors.maxlength.requiredLength }} символов, сейчас {{ newPassword.errors.maxlength.actualLength }}
    </div>
    <!-- end of errors -->

    <div class="user-form__button">
      <ui-button
        [classList]="'button_submit'"
        [buttonType]="'submit'"
        [isDisabled]="modified && form.invalid"
      >
        Cохранить изменения
      </ui-button>
    </div>

  </form>

</ng-template>
