@import 'variables';
@import 'mixins';

.system {
  height: 100vh;
  padding-top: 70px;
  margin-top: -70px;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;

  @include max-width($bp-mobile-l) {
    padding-top: 60px;
    margin-top: -60px;
  }

  &__aside {
    flex: 0 0 auto;
  }

  &__content {
    flex: 1;
    margin: 15px 20px;

    @include max-width($bp-mobile-l) {
      margin: 10px;
    }
  }
}
