<div class="logout">
  <div class="logout__content">
    <p>Вы действительно хотите выйти?</p>
  </div>
  <div class="logout__buttons">
    <div class="logout__button">
      <ui-button
        [classList]="['button_submit', 'button_block']"
        (click)="logout()"
      >
        Выйти
      </ui-button>
    </div>
    <div class="logout__button">
      <ui-button
        [classList]="'button_block'"
        (click)="close()"
      >
        Отмена
      </ui-button>
    </div>
  </div>
</div>
